<h1>Stupid Coaching</h1>
<div class="user_question">
  <%= params[:question].capitalize %>
  <br>
  <em>- You</em>
</div>
<br>
<div class="coach_answer" class="m-3">
  <%= @answer %>
  <br>
  <em>- Your Coach</em>
</div>
<br>
<div class="question_link">
<%= link_to "Pose une autre question ! ", ask_path %>
</div>
