<h1 >Stupid Coaching 🚀</h1>
<form class="form m-3" action="answer" data-turbo="false" >
  <div class="col-lg-6 mb-3">
    <div class="input-group" >
      <input type="text" class="form-control" name="question" placeholder="What is your question ?" class="col-md-2">
      <%# <div class="input-group-prepend"> %>
        <input type="submit" class="btn btn-primary" value="Ask!" >
      </div>
    </div>
  </div>
</form>
